@page "{enrollmentId:int}"
@using Project_PRN_Razor.Pages.Shared
@model Project_PRN_Razor.Teacher.EnrollmentDetail

@{
    Layout = "Shared/_LayoutTeacher";
}

<div class="container" style="margin-top: 100px;">
    <h3 class="font-weight-bold">Mark report</h3>
    <div class="row" style="margin-top: 30px">
        <div class="col-6">
            <div class="card border-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Mark Report</div>
                <div class="card-body">
                    <p class="text-dark">Semester: @Model.EnrollmentModel.Semester.SemesterName</p>
                    <p class="text-dark">Student Code: @Model.EnrollmentModel.StudentCode</p>
                    <p class="text-dark">Student name: @Model.EnrollmentModel.StudentName</p>
                    <p class="text-dark">Class: @Model.EnrollmentModel.Class.ClassName</p>
                    <p class="text-dark">Subject:@Model.EnrollmentModel.Subject.SubjectCode-@Model.EnrollmentModel.Subject.SubjectName</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-3 font-weight-bold">
                    Mark name
                </div>
                <div class="col-2 font-weight-bold">
                    Weight
                </div>
                <div class="col-2 font-weight-bold">
                    Value
                </div>
            </div>

            <form method="post" id="myForm">
                <div class="form-group">
                    <input name="enrollmentId" value="@Model.EnrollmentModel.EnrollmentId" type="hidden">
                    @for (var i = 0; i < @Model.MarkList.Count; i++)
                    {
                        <input name="MarkList[@i].MarkId" value="@Model.MarkList[i].MarkId" type="hidden">
                        <input name="MarkList[@i].MarkName" value="@Model.MarkList[i].MarkName" type="hidden">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-3">
                                    <label class="control-label">@Model.MarkList[i].MarkName</label>
                                </div>
                                <div class="col-2">
                                    <label class="control-label">@Model.MarkList[i].Coefficient</label>
                                </div>
                                <div class="col-2">
                                    <input type="number" step="0.01" min="0" max="10" class="form-control mark-input" name="MarkList[@i].MarkValue" placeholder="Value" value="@Model.MarkList[i].MarkValue" required>
                                    <div class="invalid-feedback">
                                        mark value in [0,10]
                                    </div>
                                </div>
                            </div>


                        </div>
                    }
                </div>
                <h5 class="text-dark" style="margin-top: 20px">Average: @Model.EnrollmentModel.FinalMark</h5>
                @if (Model.EnrollmentModel.Status)
                {
                    <h5 class="text-success">Pass</h5>
                }
                else
                {
                    <h5 class="text-danger">Not pass</h5>
                }
                <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
            </form>
        </div>
    </div>
</div>


<br/> <br/>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myForm").submit(function (event) {
            var invalidInputs = $(".mark-input").filter(function () {
                var value = parseFloat($(this).val());
                return isNaN(value) || value < 0 || value > 10;
            });

            if (invalidInputs.length > 0) {
                event.preventDefault();
                invalidInputs.addClass("is-invalid");
            }
        });

        $(".mark-input").on("input", function () {
            var value = parseFloat($(this).val());
            if (isNaN(value) || value < 0 || value > 10) {
                $(this).addClass("is-invalid");
            } else {
                $(this).removeClass("is-invalid");
            }
        });
    });
</script>


@*<form method="post">
    <div id="inputContainer">
        @for (var i = 0; i < @Model.MarkList.Count; i++)
        {
            <input name="enrollmentId" value="@Model.EnrollmentModel.EnrollmentId" type="hidden">
            <input name="MarkList[@i].MarkId" value="@Model.MarkList[i].MarkId" type="hidden">
            <input name="MarkList[@i].MarkName" value="@Model.MarkList[i].MarkName" type="hidden">
            <div class="form-group">
                <label>@Model.MarkList[i]</label>
                <input class="form-control" name="MarkList[@i].MarkValue" placeholder="Value" value="@Model.MarkList[i].MarkValue">
            </div>
        }
    </div>


    <button type="submit" class="btn btn-primary" style="width: 150px; margin-top: 30px;"> Save</button>
</form>*@


@*<form id="myForm" class="form-horizontal">
    <div class="form-group">
        @for (var i = 0; i < @Model.MarkList.Count; i++)
        {
            <input name="enrollmentId" value="@Model.EnrollmentModel.EnrollmentId" type="hidden">
            <input name="MarkList[@i].MarkId" value="@Model.MarkList[i].MarkId" type="hidden">
            <input name="MarkList[@i].MarkName" value="@Model.MarkList[i].MarkName" type="hidden">
            <div class="form-group">
                <label class="control-label col-sm-3">@Model.MarkList[i]</label>
                <input type="number" step="0.01" min="0" max="10" class="form-control mark-input" name="MarkList[@i].MarkValue" placeholder="Value" value="@Model.MarkList[i].MarkValue" required>
                <div class="invalid-feedback">
                    Giá trị phải nằm trong khoảng từ 0 đến 10.
                </div>
            </div>
        }
    </div>


    <button type="submit" class="btn btn-primary" id="submitButton">Gửi</button>
</form>

<script>
    $(document).ready(function () {
        $("#myForm").submit(function (event) {
            var invalidInputs = $(".mark-input").filter(function () {
                var value = parseFloat($(this).val());
                return isNaN(value) || value < 0 || value > 10;
            });

            if (invalidInputs.length > 0) {
                event.preventDefault();
                invalidInputs.addClass("is-invalid");
            }
        });

        $(".mark-input").on("input", function () {
            var value = parseFloat($(this).val());
            if (isNaN(value) || value < 0 || value > 10) {
                $(this).addClass("is-invalid");
            } else {
                $(this).removeClass("is-invalid");
            }
        });
    });
</script>*@